# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data files (We generate these on the fly now!)
Data/
*.pkl
*.mat
*.csv

# Virtual Environments
venv/
env/
.env

# Streamlit
.streamlit/